.kanban-data-background {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.5);
}

.kanban-data-main {
    display: flex;
    flex-direction: column;

    overflow: hidden;

    width: 70%;
    height: 550px;

    background-color: var(--color-2);
    box-shadow: 0 5px 0 rgb(40, 40, 40);
    border: solid rgb(40, 40, 40) 3px;
    border-radius: 10px;
    color: rgb(40, 40, 40);
}

.kanban-data-header {
    display: flex;
    justify-content: space-between;
    margin: 0;
    width: 100%;
    height: 8%;

    border-bottom: 3px solid rgb(40, 40, 40);
    background-color: var(--color-2-hover);
}

.kanban-data-header-title {
    font-size: 22px;
    text-transform: uppercase;
    margin-left: 20px;
}

.kanban-data-header svg {
    cursor: pointer;
    font-size: 22px;
    margin-right: 20px;
}

.kanban-data-body {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 94%;
}

.kanban-data-information {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 30%;
    height: 100%;

    border-right: solid 3px var(--color-0);
}

.kanban-data-information img {
    width: 110px;
    margin-top: 20px;

    box-shadow: 0 5px 0 rgb(40, 40, 40);
    border: solid rgb(40, 40, 40) 3px;
    border-radius: 50%;
}

.kanban-data-information h3 {
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    overflow-wrap: break-word;

    margin-top: 10px;
    width: 90%;
}

.kanban-data-information h4 {
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
    overflow-wrap: break-word;

    width: 90%;
}

.kanban-data-information p {
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 10px;
    text-align: center;

    color: rgba(0, 0, 0, 0.5);
}


.kanban-data-information-delete {
    height: 40px;
    width: fit-content;
    padding: 0 10px 0 10px;
    margin-top: 40px;

    background-color: var(--color-1);
    font-size: 18px;
    border: solid rgb(60, 60, 60) 2px;
    border-radius: 10px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(60, 60, 60);

}

.kanban-data-information-delete:hover {
    animation-name: button-hover1;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.kanban-data-information-delete:not(:hover) {
    animation-name: button-not-hover1;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}



.kanban-data-members {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 70%;
    height: 100%;
}

.kanban-data-members-body {
    height: 75%;
}

.kanban-data-members-footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    height: 25%;
    width: 630px;
}

.kanban-data-members-alert {
    width: 630px;

    color: rgba(0, 0, 0, 0.5);

    margin: 0;
}

.kanban-data-members h4 {
    width: 630px;
    margin: 10px 0 10px 0;

    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
}

.kanban-data-members-container {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;

    width: 630px;
    padding: 10px 0 10px 0;
}

.kanban-data-members-container::-webkit-scrollbar {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    height: 7px;
}

.kanban-data-members-container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.kanban-data-user-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-right: 15px;

    cursor: pointer;
}

.kanban-data-my-user {
    opacity: 0.5;

    cursor: default;
}

.kanban-data-user-item img {
    width: 80px;
    margin-bottom: 10px;

    box-shadow: 0 5px 0 rgb(40, 40, 40);
    border: solid rgb(40, 40, 40) 3px;
    border-radius: 50%;
}

.kanban-data-member-over-icon {
    filter: brightness(0.9);
}

.kanban-data-user-item p {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}


.kanban-data-user-selected-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 60%;
    width: 100%;
    padding: 10px 0 10px 0;
}

.kanban-data-user-selected-panel div {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 20px;
    margin-bottom: 5px;
}

.kanban-data-user-selected-panel img {
    width: 60px;

    box-shadow: 0 5px 0 rgb(40, 40, 40);
    border: solid rgb(40, 40, 40) 3px;
    border-radius: 50%;
}

.kanban-data-user-selected-panel p {
    margin-left: 10px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.kanban-data-member-delete {
    height: 40px;
    width: fit-content;
    padding: 0 10px 0 10px;
    margin-right: 20px;

    background-color: var(--color-1);
    font-size: 18px;
    border: solid rgb(60, 60, 60) 2px;
    border-radius: 10px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(60, 60, 60);

}

.kanban-data-member-delete:hover {
    animation-name: button-hover1;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.kanban-data-member-delete:not(:hover) {
    animation-name: button-not-hover1;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}


@media (max-width: 1250px) {
    .kanban-data-main {
        position: fixed;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        border-radius: 0%;
        overflow-y: scroll;
    }

    .kanban-data-header {
        flex-direction: row;
    }
    
    .kanban-data-header-title {
        font-size: 22px;
        text-transform: uppercase;
        margin-left: 20px;
    }
    
    .kanban-data-header svg {
        cursor: pointer;
        font-size: 22px;
        margin-right: 20px;
    }

    .kanban-data-body {
        flex-direction: column;
    }

    .kanban-data-information {
        width: 100%;
    }

    .kanban-data-information-delete {
        margin-top: 5px;
    }

    .kanban-data-members {
        width: 100%;
        margin-top: 20px;
    }

    .kanban-data-members-body {
        display: flex;
        flex-direction: column;
        align-items: center !important;
        justify-content: center !important;
        width: 90%;
        height: auto;
        margin-bottom: 30px;
    }
    .kanban-data-members-body h4 {
        width: 100%;
    }
    .kanban-data-members-container {
        width: 100%;
        margin: 0;
    }

    .kanban-data-members-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 100%;
    }
    .kanban-data-user-selected-panel {
        display: flex;
        justify-content: space-between;
        align-items: center;

        height: 60%;
        width: 100%;
    }
    .kanban-data-members-alert {
        width: 90%;
        margin-bottom: 30px;
    }
}