.tasks-route-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.tasks-route {
    display: flex;
    flex-direction: row;
    width: 90%;
}


