.tasks-route-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.tasks-route {
    display: flex;
    flex-direction: row;
    width: 90%;
}


@media (max-width: 1150px) {
    .tasks-route {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}